<a href="https://colab.research.google.com/github/Janailton-eng/Janailton-eng/blob/main/Jornada_de_aprendizado_em_Ci%C3%AAncia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Curso de Python para Data Science: primeiros passos**

##**1.0 - Desafio**.

In [ ]:
#1.Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

nome = input('Digite seu nome: ')
print(f'olá, {nome}.')

Digite seu nome: Janailton
olá, Janailton.

In [ ]:
nome = "Janailton Ferreira"
idade = 20
print(f"Olá seu nome é {nome} e sua idade é {idade} anos.")

Digite seu nome: Janailton
Digite sua idade: 20
Olá Janailton, você tem 20 anos.

In [ ]:
comprimento = 80
largura = 40
print(f"Olá seu terreno tem {comprimento} metros de comprimento e {largura} metros de largura."), print('Sua ária é de',largura*comprimento, 'metros quadrados.')

Olá seu terreno tem 80 metros de comprimento e 40 metros de largura.
Sua ária é de 3200 metros quadrados.

(None, None)

In [ ]:
nome = 'Janailton Ferreira'
idade = 20
altura = 1.80
print(f"Olá {nome}, você tem {idade} anos e mede {altura} metros")

Olá Janailton Ferreira, você tem 20 anos e mede 1.8 metros

## 1.1 - Coleta e amostragem de dados:

In [ ]:
# 1.Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
nome = input('Digite seu nome: ')
print(f'Olá, {nome}.')

Digite seu nome: Janailton
Olá, Janailton.

In [ ]:
# 2.Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
print(f'Olá {nome}, você tem {idade} anos.')

Digite seu nome: Janailton
Digite sua idade: 20
Olá Janailton, você tem 20 anos.

## 1.2 Calculadora com operadores:

In [ ]:
# 1.Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a+b)

Digite o primeiro valor: 8
Digite o segundo valor: 2
10

In [ ]:
# 2.Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
c = int(input('Digite o terceiro valor: '))
print(a+b+c)

Digite o primeiro valor: 1
Digite o segundo valor: 2
Digite o terceiro valor: 3
6

In [ ]:
# 3.Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.
a = int(input('Digite seu primeiro valor: '))
b = int(input('Digite seu primeiro valor: '))
print(a-b)

Digite seu primeiro valor: 5
Digite seu primeiro valor: 3
2

In [ ]:
# 4.Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.
a = int(input('Digite seu primeiro valor: '))
b = int(input('Digite seu primeiro valor: '))
print(a*b)

Digite seu primeiro valor: 2
Digite seu primeiro valor: 3
6

In [ ]:
# 5.Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador/denominador)

Digite o numerador: 10
Digite o denominador (OBS: o valor não pode ser nulo): 2
5.0

In [ ]:
# 6.Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.
operador = int(input('Digite o numerador: '))
potencia = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(operador**potencia)

Digite o numerador: 2
Digite o denominador (OBS: o valor não pode ser nulo): 3
8

In [ ]:
# 7.Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador//denominador)

Digite o numerador: 10
Digite o denominador (OBS: o valor não pode ser nulo): 2
5

In [ ]:
# 8.Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador%denominador)

Digite o numerador: 10
Digite o denominador (OBS: o valor não pode ser nulo): 2
0

In [ ]:
# 9.Crie um código que solicita 3 notas de um estudante e imprima a média das notas.
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))
nota_3 = float(input('Digite a 3° nota: '))
print((f'Média {(nota_1+nota_2+nota_3/3)}'))

Digite a 1° nota: 10
Digite a 2° nota: 10
Digite a 3° nota: 8
Média 22.666666666666668

In [ ]:
# 10.Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Média {media_ponderada}.')

Média 14.9.

## 1.3 - Editando textos:

In [ ]:
# 1.Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.
frase = 'Olá Python!'
print(frase)

Olá Python!

In [ ]:
# 2.Crie um código que solicite uma frase e depois imprima a frase na tela.
frase = input('Digite uma frase: ')
print(frase)

Digite uma frase: Olá mundo!
Olá mundo!

In [ ]:
# 3.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: Janailton - engenheiro eletricista
JANAILTON - ENGENHEIRO ELETRICISTA

In [ ]:
# 4.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.
frase = input('Digite uma frase: ')
print(frase.lower())

Digite uma frase: JANAILTON - ENGENHEIRO ELETRICISTA
janailton - engenheiro eletricista

In [ ]:
# 5.Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.
frase = ' olá Python!  '
print(frase.strip())

olá Python!

In [ ]:
# 6.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.
frase = input('Digite uma frase: ')
print(frase.strip())

Digite uma frase:  Ferreira
Ferreira

In [ ]:
# 7.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.
frase = input('Digite uma frase: ')
print(frase.strip().lower())

Digite uma frase:  JANAILTON - ENGENHEIRO ELETRICISTA
janailton - engenheiro eletricista

In [ ]:
# 8.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “e” trocadas pela letra “f”.
frase = input('Digite uma frase: ')
print(frase.lower().replace('e','f'))

Digite uma frase: ELEFANTE
flffantf

In [ ]:
# 9.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “a” trocadas pela caractere “@”.
frase = input('Digite uma frase: ')
print(frase.lower().replace('a',chr(64)))

Digite uma frase: AMOR
@mor

In [ ]:
# 10.Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “s” trocadas pelo caractere “$”.
frase = input('Digite uma frase: ')
print(frase.lower().replace('s',chr(36)))

Digite uma frase: SUCESSO
$uce$$o

#**2.0 - Estruturas condicionais:**

##Operadores relacionais(exemplos):

In [1]:
# Maior que (>):
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria > idade_beatriz:
  print('Maria é mais velha que Beateiz.')

Digite a idade da Maria: 12
Digite a idade da Beatriz: 10
Maria é mais velha que Beateiz.

In [2]:
# Menor que (<):
idade_maria = int(input('Digite a idade da Maria: '))
idade_beatriz = int(input('Digite a idade da Beatriz: '))

if idade_maria < idade_beatriz:
  print('Maria é mais nova que Beatriz.')

Digite a idade da Maria: 30
Digite a idade da Beatriz: 34
Maria é mais nova que Beatriz.

In [4]:
# Maior ou igual a (>=):
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 >= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados maior ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 1300
Digite a quantidade de empregados da empresa 2: 2150

In [6]:
# Menor ou igual a (<=):
empregados_empresa_1 = int(input('Digite a quantidade de empregados da empresa 1: '))
empregados_empresa_2 = int(input('Digite a quantidade de empregados da empresa 2: '))

if empregados_empresa_1 <= empregados_empresa_2:
  print('Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.')

Digite a quantidade de empregados da empresa 1: 1200
Digite a quantidade de empregados da empresa 2: 2200
Empresa 1 tem uma quantidade de empregados menor ou igual à empresa 2.

In [7]:
# Igual a (==):
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 == livro_2:
  print('Os livros têm o mesmo título')

Digite o título do 1° livro: Verso e Código: A poética da programação
Digite o título do 2° livro: Verso e Código: A poética da programação
Os livros têm o mesmo título

In [8]:
# Diferente de (!=):
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 != livro_2:
  print('Os livros têm títulos diferentes')

Digite o título do 1° livro: A poética da programação
Digite o título do 2° livro: A poesia do código
Os livros têm títulos diferentes